@model List<CategoriesViewModel>

@{ 
    var menClothingCategories = Model.Where(c => c.Gender == Gender.Men && c.Type == "Clothing");
    var menFootwearCategories = Model.Where(c => c.Gender == Gender.Men && c.Type == "Footwear");
    var ladiesClothingCategories = Model.Where(c => c.Gender == Gender.Ladies && c.Type == "Clothing");
    var ladiesFootwearCategories = Model.Where(c => c.Gender == Gender.Ladies && c.Type == "Footwear");
}

<div class="navbar-collapse collapse" id="navigation">
    <ul class="nav navbar-nav navbar-left">
        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Clothing</h5>
                                <ul>
                                    @foreach (var category in menClothingCategories)
                                    {
                                        <li><a asp-area="" asp-controller="Product" asp-action="Categories" asp-route-categoryName="@category.Name" asp-route-categoryGender="@category.Gender">@category.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Footwear</h5>
                                <ul>
                                    @foreach (var category in menFootwearCategories)
                                    {
                                        <li><a asp-area="" asp-controller="Product" asp-action="Categories" asp-route-categoryName="@category.Name" asp-route-categoryGender="@category.Gender">@category.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Featured</h5>
                                <ul>
                                    <li><a href="category.html">Trainers</a> </li>
                                    <li><a href="category.html">Sandals</a></li>
                                    <li><a href="category.html">Hiking shoes</a></li>
                                </ul>
                                <h5>Looks and trends</h5>
                                <ul>
                                    <li><a href="category.html">Trainers</a></li>
                                    <li><a href="category.html">Sandals</a></li>
                                    <li><a href="category.html">Hiking shoes</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown yamm-fw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Ladies <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="yamm-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>Clothing</h5>
                                <ul>
                                    @foreach (var category in ladiesClothingCategories)
                                    {
                                        <li><a asp-area="" asp-controller="Product" asp-action="Categories" asp-route-categoryName="@category.Name" asp-route-categoryGender="@category.Gender">@category.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Footwear</h5>
                                <ul>
                                    @foreach (var category in ladiesFootwearCategories)
                                    {
                                        <li><a asp-area="" asp-controller="Product" asp-action="Categories" asp-route-categoryName="@category.Name" asp-route-categoryGender="@category.Gender">@category.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h5>Featured</h5>
                                <ul>
                                    <li><a href="category.html">Trainers</a></li>
                                    <li><a href="category.html">Sandals</a></li>
                                    <li><a href="category.html">Hiking shoes</a></li>
                                    <li><a href="category.html">Casual</a></li>
                                    <li> <a href="category.html">Hiking shoes</a></li>
                                    <li><a href="category.html">Casual</a></li>
                                </ul>
                                <h5>Looks and trends</h5>
                                <ul>
                                    <li><a href="category.html">Trainers</a></li>
                                    <li><a href="category.html">Sandals</a></li>
                                    <li><a href="category.html">Hiking shoes</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <div class="banner">
                                    <a href="#"><img src="~/images/banner.jpg" class="img img-responsive" alt=""> </a>
                                </div>
                                <div class="banner">
                                    <a href="#"><img src="~/images/banner2.jpg" class="img img-responsive" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>