@model IList<BrandsViewModel>

<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Brands <button type="reset" class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</button></h3>
    </div>
    <div class="panel-body">
        <form asp-route="products" asp-route-gender="@ViewBag.Gender" asp-route-category="@ViewBag.Category" method="get">
            <div class="form-group">
                @foreach (var brand in Model)
                {
                    <div class="checkbox">
                        <label>
                            <input name="@brand.Name" type="checkbox" value="true" />@brand.Name (@brand.Count)
                        </label>
                    </div>
                }
            </div>
            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
        </form>
    </div>
</div>

