@model List<ProductListViewModel>

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li>@ViewBag.CategoryGender</li>
            @if (ViewBag.CategoryName != null)
            {
                <li>@ViewBag.CategoryName</li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
            </div>
            @await Component.InvokeAsync("CategoriesPanel")
        </div>

        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />Armani (10)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />Versace (12)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />Carlo Bruni (15)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />Jack Honey (14)
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>

            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour white"></span> White (14)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour green"></span> Green (20)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour red"></span> Red (10)
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                </form>
            </div>
        </div>
        <div class="banner">
            <a href="#">
                <img src="~/images/banner.jpg" alt="sales 2014" class="img-responsive">
            </a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="box">
            <h1>@ViewBag.CategoryGender</h1>
            <p>In our @ViewBag.CategoryGender department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
        </div>

        <div class="box info-bar">
            <div class="row">
                <div class="col-sm-12 col-md-4 products-showing">
                    Showing <strong>12</strong> of <strong>25</strong> products
                </div>
                <div class="col-sm-12 col-md-8  products-number-sort">
                    <div class="row">
                        <form class="form-inline">
                            <div class="col-md-6 col-sm-6">
                                <div class="products-number">
                                    <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="products-sort-by">
                                    <strong>Sort by</strong>
                                    <select name="sort-by" class="form-control">
                                        <option>Price</option>
                                        <option>Name</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row products">
            @foreach (var product in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="@product.FrontImage" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="@product.BackImage" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="@product.FrontImage" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">@product.Name</a></h3>
                            <p class="price">$@product.Price</p>
                            <p class="buttons">
                                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-default">View detail</a>
                                <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </p>
                        </div>

                        @if (product.OnSale)
                        {
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                        }

                        @if (product.IsNew)
                        {
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                        }

                        @if (product.IsGift)
                        {
                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="pages">
            <p class="loadMore">
                <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
            </p>
        </div>
    </div>
</div>